<% if @g_keyword.blank?  %>
  <div class="apply_form">
    <p>キーワードを入力してください</p>
  </div>
   
<% else %>
  <% if @groups.blank? %>
    <div class="apply_form">
      <p><%= @g_keyword %>に対応するイベントは存在しません</p>
      <p>他のキーワードで検索してください</p>
    </div>
  <% else %>
    <div class="event_index">
      <% @groups.each do |group| %>
        <div class="event">
           <div class="event_bottom">
            <% if group.image.attached? %>
              <div class="group_image" style="background-image: url(<%= rails_representation_path(group.image.variant(combine_options:{resize:"100x100^",crop:"100x100+0+0",gravity: :center}).processed) %>) ">
              </div>
            <% else %>
              <div class="group_image" style="background-color: gray ">
              </div>
            <% end %>
            <div class="event_group">
              <%= link_to "#{group.name}",  group_path(group), method: :get , class: "group"%>
            </div>
         </div>
        </div>
      <% end %>
    <%= paginate(@groups) %>
    </div>
  <% end %>  
<% end %>

<%= link_to form_path  do %>
  <%= image_tag "back.png" %>
<% end %>