<% if @g_keyword.blank?  %>
  <div class="apply_form">
    <p>キーワードを入力してください</p>
  </div>
   
<% else %>
  <% if @groups.blank? %>
    <div class="apply_form">
      <p><%= @g_keyword %>に対応するイベントは存在しません</p>
      <p>他のキーワードで検索してください</p>
    </div>
  <% else %>
    <div class="event_index">
      <% @groups.each do |group| %>
        <div class="event">
          <div class="event_bottom">
            <%= render partial: "common/group", locals: {  group: group } %>
          </div>
        </div>
      <% end %>
    <%= paginate(@groups) %>
    </div>
  <% end %>  
<% end %>

<%= link_to form_path  do %>
  <%= image_tag "back.png" %>
<% end %>