<div class="row form">
  <div class="col-lg-12">
<!--ルーティングのパスはgroup_event_pathだが、form_forが求めてるタグはgroup_events_path-->
<!--なので　url: group_event_path として無理やり単数形のパスにつなげる-->
<div class="col-xs-10 col-lg-4">
   
  <div class="profile">
    <%= form_for (@event) ,url: group_event_path do |f| %>
      <% if @event.image.attached? %>
         <div class="event_image"><%= image_tag @event.image.variant(combine_options:{resize:"400x100^",crop:"400x100+0+0",gravity: :center}).processed %></div>
      <% else %>
         <div class="event_image" style="background-color: gray;"></div>
      <% end %>
      
      <div class="form-group file">
        <%= f.file_field :image, placeholder: "画像を変更する", autofocus: true , class: "form-control floating-label"%>
      </div>
      
         <div class="col-xs-8 col-lg-3">
             <div class="profile_wrapper">
                <div class="profile_wrapper_edit">
                  <h3><span class="gray">名前：</h3>
                  <%= f.text_field :title, placeholder: "名前",autofocus: true %>         
                </div>       
             </div>
         </div>
         
          <div class="col-xs-8 col-lg-3">
             <div class="profile_wrapper">
                <div class="profile_wrapper_edit">
                  <h3><span class="gray">日付：</h3>
                     <%= f.date_field :date, placeholder: "開催日時"  %>         
                </div>       
             </div>
         </div>
         
         <div class="col-xs-8 col-lg-3">
             <div class="profile_wrapper">
                <div class="profile_wrapper_edit">
                  <h3><span class="gray">場所：</h3>
                   <%= f.text_field :where, placeholder: "開催場所※最大20",maxlength: "20" %>           
                </div>       
             </div>
          </div>
          <div class="col-xs-8 col-lg-3">
             <div class="profile_wrapper">
                <div class="profile_wrapper_edit">
                 <h3><span class="gray">説明：</h3>
                  <%= f.text_field :descrip, placeholder: "詳細※最大50文字", maxlength: "50"%>           
                </div>       
             </div>
         </div>
         
         
         
         
          <div class="col-xs-8 col-lg-3">
             <div class="form-save">
                    <%= f.submit "保存" ,class:"button_save" %> 
             </div>
         </div>
         
         
         <%= link_to group_path(@group)  do %>
         <%= image_tag "back.png" %>
        <% end %>
         
    <% end %>
    
    </div>
    </div>
   
    
  </div>
</div>


