<div class="row form">
 <div class="col-lg-12">
<!--ルーティングのパスはgroup_event_pathだが、form_forが求めてるタグはgroup_events_path-->
<!--なので　url: group_event_path として無理やり単数形のパスにつなげる-->
<!--としてたけど適切なモデルを引き渡せないので-->
   <div class="col-xs-10 col-lg-4">
       <div class="profile">
      <%= form_with model: @event , url: :group_events do |f| %>
      
       <div class="form-group file">
         <%= f.file_field :image, placeholder: "画像アップロード", autofocus: true ,  class: "form-control floating-label" %>
       </div>
      
       <div class="col-xs-8 col-lg-3">
         <div class="profile_wrapper">
            <div class="profile_wrapper_edit">
              <h3><span class="gray">名前：</h3>
                <%= f.text_field :title, placeholder: "名前",autofocus: true,required: true %>
            </div>
          </div>
       </div>
       
       <div class="col-xs-8 col-lg-3">
         <div class="profile_wrapper">
            <div class="profile_wrapper_edit">
              <h3><span class="gray">日時：</h3>
                 <%= f.date_field :date, placeholder: "開催日時" ,required: true %>
            </div>
          </div>
       </div>
       
       <div class="col-xs-8 col-lg-3">
         <div class="profile_wrapper">
            <div class="profile_wrapper_edit">
              <h3><span class="gray">場所：</h3>
                <%= f.text_field :where, placeholder: "開催場所※最大20文字",maxlength: "20" ,required: true%>
            </div>
          </div>
       </div>
       
        <div class="col-xs-8 col-lg-3">
         <div class="profile_wrapper">
            <div class="profile_wrapper_edit">
              <h3><span class="gray">説明：</h3>
                <%= f.text_field :descrip, placeholder: "詳細※最大40文字", maxlength: "40"  ,required: true%>
            </div>
          </div>
       </div>
       
        <div class="col-xs-8 col-lg-3">
           <div class="form-save">
             <!--おかしなURLにとんでしまう-->
             <%= f.submit "保存" ,class:"button_save" %>          
           </div>
        </div>
           
      <% end %>
      
       <%= link_to group_path(@group) do%>
         <%= image_tag "back.png" %>
       <% end %>
       
       </div>
    </div>
  </div>
</div>


