<% if @e_keyword.blank?  %>
  <div class="apply_form">
      <p>キーワードを入力してください</p>
  </div>
<% else %>
  <% if @events.present? %>
    <div class="event_index">
      <% @events.each do |event| %>
      <!--<div class="image" style="background-image: url(%= rails_blob_path(event.group.image) %>) "></div>-->
        <%= render partial: "common/event", locals: { event: event } %>
      <% end %>
     <%= paginate(@events) %>
    </div>
   
  <% else %>
   <div class="apply_form">
     <p><%= @e_keyword %>に対応するイベントは存在しません</p>
     <p>他のキーワードで検索してください</p>
   </div>
  <% end %>
  
<% end %>

<%= link_to form_path  do %>
  <%= image_tag "back.png" %>
<% end %>