<div class="col-xs-10 col-lg-4">
  <div class="event">
   
       <% if event.image.attached? %>
         <div class="event_image"style="background-image: url(<%= rails_representation_path(event.image.variant(combine_options:{resize:"400x100^",crop:"400x100+0+0",gravity: :center}).processed) %>) ">
         </div>
         <% else %>
         <div class="event_image" style="background-color: gray;"></div>
      <% end %>
      <div class="event_content">
        <div class="event_title">
          <h3><%= event.title %></h3>
        </div>
         <div class="event_descrip">
            <ul class="descrip">
                <li>
                  <p>日時：<%= event.date.month %>/<%= event.date.day %></p>
                </li>
                <li>
                  <p>場所：<%= event.where %></p>
                </li>
            </ul>
            <%= simple_format(event.descrip)%>
          </div>
      </div>
    
    <div class="event_bottom">
         <%= render partial: "common/group", locals: { group: event.group } %>
      <% if current_student.student_groups.present? %>
        <% if  current_student.student_groups.first.authority %>
          <% if event.group.id == current_student.groups.ids.first%>
          <div class="atag_wrapper">
            <%= link_to edit_group_event_path(event.group,event), method: :get  do %>
              <%= image_tag "edit.png", :class => 'edit_event',:alt => 'edit_event' %>
            <% end %>
            <%= link_to group_event_path(event.group,event), method: :delete do  %>
              <%= image_tag "delete.png", :class => 'delete_event',:alt => 'delete_event' %>
            <% end %>
          </div>
         <% end %>
       <% else %>
           <%= render partial: "common/student_event", locals: { event: event } %>
       <% end %>
      <% else %>
        <%= render partial: "common/student_event", locals: { event: event } %>
      <% end %>
    </div>
  </div>
</div>