<footer class="fixed-bottom">
  <!--ユーザーがログインしてるならという条件をこのファイルを呼び出す前に行う-->
  <div class="footer_wrapper">
    <div class="icon">
         <%= link_to root_path do %>
           <%= image_tag "home.png" %>
         <% end %>
     </div>
      <div class="icon">
          <%= link_to  form_path do %>
            <%= image_tag "search.png" %>
          <% end %>
      </div>
  
     <div class="icon">
         <% if current_student.groups.first.authorized?(current_student) %>
           <%= link_to group_path(current_student.groups.first) do  %>
             <%= image_tag "profile.png" %>
           <% end %>
        <% else %>
         <!--グループアカウントとしてログイン中ではない-->
          <%= link_to student_path(current_student) do %>
            <%= image_tag "profile.png" %>
          <% end %>
        <% end %>  
    </div>
  </div>
</footer>